body {
    background-color: #f4f4f4;
    font: 14/1.5 verdana;
}

/* global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
  
/* Header */
header {
    background: #262e5a;
    color: white;
    text-align: center;
    padding-top: 3%;
    min-height: 10%;
    border-bottom: coral 3px solid;
}

/* Forms */
#form {
    margin-top: 3em;
    font-weight: bold;
    font-size: small;

}

#form h3 {
    color: rgb(10, 47, 150);
    margin-bottom: 5px;
}

#form input {
    height: auto;
    background-origin: padding-box;
    font-size: larger;
    border-width: 3px;
}

#form .button {
    background-color: #000080; /* Navy blue */
    color: white;
    padding: 3px 10px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    border-radius: 20px;
    float: inline-start;
}


#tulostusalue {
    font-size: 18px;
}
